{% extends "base_admin.html" %}

{% block content %}
  <h1>Nueva venta</h1>
  
  <form method="post" action="crear_venta">
    {% csrf_token %}
    <label for="Fecha solicitud">Fecha solicitud:</label>
    <input  id="Fecha solicitud" type="text" name="Fecha solicitud" readonly><br/>
        
    <script>
      function actualizarFechaHora() {
        var ahora = new Date();
        var fechaHora = ahora.toLocaleDateString() + " " + ahora.toLocaleTimeString();
        document.getElementById('Fecha solicitud').value = fechaHora;
      }
      setInterval(actualizarFechaHora, 1000);
      actualizarFechaHora();
    </script>


  <label for="Codigo producto">Producto: </label>
  <select name="Codigo producto" id="Codigo producto">
      {% for p in Productos %}
      <option  value="{{p.codigo}}">{{p.nombre}}</option>
      {% endfor %}
  </select>
  <br/>
    <label for="Cantidad">Cantidad:</label>
    <input id="Cantidad" type="text" name="Cantidad"><br/>

    <input type="submit" value="Agregar venta">
  </form>
{% endblock %}
